<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :price, :placeholder => t(:price, scope: :rooms), :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.text_field :deposit, :placeholder => t(:deposit, scope: :rooms), :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label(t(:internet, scope: :rooms)) %><br>
    <%= f.check_box :internet %>
  </div>
  <div class="form-group">
    <%= f.label(t(:furnished, scope: :rooms)) %><br>
    <%= f.check_box :furnished %>
  </div>
  <div class="form-group">
    <%= f.label(t(:smoking, scope: :rooms)) %><br>
    <%= f.check_box :smoking %>
  </div>
  <div class="form-group">
    <%= f.text_field :gender, :placeholder => t(:gender, scope: :rooms), :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label(t(:closest_station, scope: :rooms)) %><br>
    <%= f.select(:closest_station, options_for_select(station_names.each_with_index.map {|s,i| [s,i]}, 0), {}, {class: 'chosen-select'}) %>
  </div>
  <div class="form-group">
    <%= f.label(t(:zone, scope: :rooms)) %><br>
    <%= f.number_field :zone %>
  </div>
  <div class="form-group">
    <%= f.label(t(:description, scope: :rooms)) %><br>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <strong><%= f.label :room_images %></strong><br>
    <%= f.file_field :room_images, multiple: true %>
    <%= f.hidden_field :room_images_cache %>
  </div>
  <% if @room.room_images? %>
    <div class="form-group">
      <strong>Room images preview:</strong><br>
      <% @room.room_images.each do |attachment| %>
        <%= image_tag attachment.url, :class => 'img-thumbnail' %><br>
        <%= content_tag(:small, content_tag(:b, "Path: #{attachment.url}")) %>
      <% end %>
    </div>
    <div class="form-group">
      <strong><%= f.label :remove_room_images %></strong><br>
      <%= f.check_box :remove_room_images %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
