<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label(t(:price, scope: :rooms)) %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label(t(:deposit, scope: :rooms)) %><br>
    <%= f.text_field :deposit %>
  </div>
  <div class="field">
    <%= f.label(t(:internet, scope: :rooms)) %><br>
    <%= f.check_box :internet %>
  </div>
  <div class="field">
    <%= f.label(t(:furnished, scope: :rooms)) %><br>
    <%= f.check_box :furnished %>
  </div>
  <div class="field">
    <%= f.label(t(:smoking, scope: :rooms)) %><br>
    <%= f.check_box :smoking %>
  </div>
  <div class="field">
    <%= f.label(t(:gender, scope: :rooms)) %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label(t(:closest_station, scope: :rooms)) %><br>
    <%= f.text_field :closest_station %>
  </div>
  <div class="field">
    <%= f.label(t(:zone, scope: :rooms)) %><br>
    <%= f.number_field :zone %>
  </div>
  <div class="field">
    <%= f.label(t(:description, scope: :rooms)) %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
