<p id="notice"><%= notice %></p>

<p>Date posted: <%= time_ago_in_words @room.created_at %> ago</p>

<p>
  <strong><%= t :price, scope: :rooms %></strong>
  <%= @room.price %>
</p>

<p>
  <strong><%= t :deposit, scope: :rooms %></strong>
  <%= @room.deposit %>
</p>

<p>
  <strong><%= t :internet, scope: :rooms %></strong>
  <%= @room.internet %>
</p>

<p>
  <strong><%= t :furnished, scope: :rooms %></strong>
  <%= @room.furnished %>
</p>

<p>
  <strong><%= t :smoking, scope: :rooms %></strong>
  <%= @room.smoking %>
</p>

<p>
  <strong><%= t :gender, scope: :rooms %></strong>
  <%= @room.gender %>
</p>

<p>
  <strong><%= t :closest_station, scope: :rooms %></strong>
  <%= @room.closest_station %>
</p>

<p>
  <strong><%= t :zone, scope: :rooms %></strong>
  <%= @room.zone %>
</p>

<p>
  <strong><%= t :description, scope: :rooms %></strong>
  <%= @room.description %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
