<!DOCTYPE html>
<html lang="<%= set_html_lang %>">
<head>
  <meta charset="utf-8">
  <%= content_tag :title, (content_for?(:title) ? yield(:title) : t(:website)) %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'common/language_select' %>
  <%= render 'common/authentication' %>
  <%= link_to t(:listing_rooms, scope: :rooms), rooms_path %>
  <%= render 'common/nav' %>
  <%= link_to "My advertised rooms", my_rooms_path %>
  <%= yield %>
</body>
</html>