<!DOCTYPE html>
<html>
<head>
  <title>Komorebi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'common/authentication' %>
<%= select('locale', 'id', %w(English 日本語 한국어), :onchange => "this.form.submit()") %>
<%= yield %>
</body>
</html>
