<!DOCTYPE html>
<html lang="<%= set_html_lang %>">
<head>
  <meta charset="utf-8">
  <meta name="description" content="<%= t(:hero_slogan) %>">
  <%= content_tag :title, (content_for?(:title) ? yield(:title) : t(:website)) %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'common/header' %>
  <div class="container main">
    <%= render 'common/language_select' %><br>
    <%= link_to t(:title, scope: [:rooms, :index]), rooms_path %><br>
    <%= link_to t(:title, scope: [:rooms, :my_rooms]), my_rooms_path %>
    <%= render 'common/alerts' %>
    <%= yield %>
  </div>
  <%= render 'common/footer' %>
</body>
</html>